[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_SUPABASE_URL = "https://npoilhzrvdzdgspijplg.supabase.co"
  VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wb2lsaHpydmR6ZGdzcGlqcGxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM5MjUwMjYsImV4cCI6MjA3OTUwMTAyNn0.2Wbhs9ItdkfGOpRql-T-Q3FkcO3BZiriU63vRjOdXkM"
  VITE_SUPABASE_PROJECT_ID = "npoilhzrvdzdgspijplg"